Bank Reserves.nlogo
20
3
Id  Class label  HEADING  PITCH  ROLL  XCOR  YCOR  ZCOR  SHAPE  LABEL  LABEL-COLOR  BREED  HIDDEN?  SIZE  PEN-SIZE  PEN-MODE  SAVINGS  LOANS  WALLET  TEMP-LOAN  WEALTH  CUSTOMER  tick  
double double double string string double double string string string double string string double double string double double double double double double double 