statistic.DirectObserver

1


















statistic.GlobalObserver




















statistic.LastObserver




















statistic.GraphDistCalcObserver
0
4
GraphDist
XCOR
YCOR
5.0














statistic.GraphObserver

1
GraphDist
1
0



MAX











None




















None




















None




















None




















None




















None




















None




















None




















None




















None




















