simtools.simanalyzer.statistic.DirectObserver

1


















simtools.simanalyzer.statistic.GlobalObserver




















simtools.simanalyzer.statistic.LastObserver




















None
0
4
GraphDist
XCOR
YCOR
5.0














None

1
GraphDist
1
0



MAX











None




















None




















None




















None




















None




















None




















None




















None




















None




















None




















