simtools.simanalyzer.statistic.DirectObserver

1


















simtools.simanalyzer.statistic.GlobalObserver




















simtools.simanalyzer.statistic.LastObserver




















None
0
1
persuasionGraph
0
0
min


max











None
0
1
tokenGraph
0
0
min


max











None
0
1
0
playerVotes
0
2
20













None
0
1
commentGraph
0
0
min


max











None




















None




















None




















None




















None




















None




















None




















None




















