statistic.DirectObserver

1


















statistic.GlobalObserver




















statistic.LastObserver




















statistic.GraphObserver
0
1
nbVoteGraph
1
1
0
100000













statistic.BinObserver
0
1
0
playerIdeas
0
2
10













statistic.BinObserver
0
1
0
playerComments
0
3
30













None




















None




















None




















None




















None




















None




















None




















None




















None




















