statistic.DirectObserver

1


















statistic.GlobalObserver




















statistic.LastObserver




















statistic.GraphObserver
0
1
persuasionGraph
0
0
min














statistic.GraphObserver
0
1
tokenGraph
0
0
min














statistic.BinObserver
0
1
1
playerVotes
0
2
20













None




















None




















None




















None




















None




















None




















None




















None




















None




















