statistic.DirectObserver

1


















statistic.GlobalObserver




















statistic.LastObserver




















statistic.GraphObserver
0
1
nbVoteGraph
min
1

100000













statistic.GraphObserver
0
1
weightVoteGraph
min
1

100000













statistic.BinObserver
0
1
1
playerVotes
0
5
5













None




















None




















None




















None




















None




















None




















None




















None




















None




















