simtools.simanalyzer.statistic.DirectObserver

1


















simtools.simanalyzer.statistic.GlobalObserver




















simtools.simanalyzer.statistic.LastObserver




















None
0
1
nbVoteGraph
0
1

100000













None
0
1
weightVoteGraph
0
1

100000













None
0
1
0
playerVotes
0
5
5













None




















None




















None




















None




















None




















None




















None




















None




















None




















