statistic.DirectObserver

1


















statistic.GlobalObserver




















statistic.LastObserver




















statistic.GraphObserver
0
1
persuasionGraph
0
0
min


max











statistic.GraphObserver
0
1
tokenGraph
0
0
min


max











statistic.BinObserver
0
1
0
playerVotes
0
2
20













statistic.GraphObserver
0
1
commentGraph
0
0
min


max











None




















None




















None




















None




















None




















None




















None




















None




















