simtools.simanalyzer.statistic.DirectObserver

1


















simtools.simanalyzer.statistic.GlobalObserver




















simtools.simanalyzer.statistic.LastObserver




















None
0
1
nbVoteGraph
1
1
0
100000













None
0
1
0
playerIdeas
0
2
10













None
0
1
0
playerComments
0
3
30













None




















None




















None




















None




















None




















None




















None




















None




















None




















