Restaurant.nlogo
15
4
Id  Class label  HEADING  PITCH  ROLL  XCOR  YCOR  ZCOR  SHAPE  LABEL  LABEL-COLOR  BREED  HIDDEN?  SIZE  PEN-SIZE  PEN-MODE  TARGET  DISH  CHEF-COUNT  tick  
double double double string string double double string string string double string string double double string string string string double 