statistic.DirectObserver

1


















statistic.GlobalObserver




















statistic.LastObserver




















statistic.GraphObserver
0
1
GraphNbVisitToday

















statistic.InitParamObserver
0
1


















None
0
1


















None




















None




















None




















None




















None




















None




















None




















None




















None




















